<div class="container page">
  <div class="banner">
    <h1>Gutenberg Project</h1>
    <h5>A social cataloging website that allows you to
      freely search its database of books,
      annotations, and reviews. </h5>
  </div>
  <div class="row" routerLink="/books" [queryParams]="{topic:'fiction'}">
    <div class="col-12">
      <div class="btn-label row">
        <img class="btn-icon" src="assets/icon/Fiction.svg" alt="fiction">
        <label>FICTION</label>
        <img class="btn-next" src="assets/icon/Next.svg" alt="fiction">
      </div>
    </div>
  </div>
  <div class="row" routerLink="/books" [queryParams]="{topic:'drama'}">
    <div class="col-12">
      <div class="btn-label row">
        <img class="btn-icon" src="assets/icon/Drama.svg" alt="fiction">
        <label>DRAMA</label>
        <img class="btn-next" src="assets/icon/Next.svg" alt="fiction">
      </div>
    </div>
  </div>
  <div class="row" routerLink="/books" [queryParams]="{topic:'humour'}" >
    <div class="col-12">
      <div class="btn-label row">
        <img class="btn-icon" src="assets/icon/Humour.svg" alt="fiction">
        <label>HUMOUR</label>
        <img class="btn-next" src="assets/icon/Next.svg" alt="fiction">
      </div>
    </div>
  </div>
  <div class="row" routerLink="/books" [queryParams]="{topic:'politics'}" >
    <div class="col-12">
      <div class="btn-label row">
        <img class="btn-icon" src="assets/icon/Politics.svg" alt="fiction">
        <label>POLITICS</label>
        <img class="btn-next" src="assets/icon/Next.svg" alt="fiction">
      </div>
    </div>
  </div>
  <div class="row" routerLink="/books" [queryParams]="{topic:'philosophy'}">
    <div class="col-12">
      <div class="btn-label row">
        <img class="btn-icon" src="assets/icon/Philosophy.svg" alt="fiction">
        <label>PHILOSOPHY</label>
        <img class="btn-next" src="assets/icon/Next.svg" alt="fiction">
      </div>
    </div>
  </div>
  <div class="row" routerLink="/books" [queryParams]="{topic:'history'}">
    <div class="col-12">
      <div class="btn-label row">
        <img class="btn-icon" src="assets/icon/History.svg" alt="fiction">
        <label>HISTORY</label>
        <img class="btn-next" src="assets/icon/Next.svg" alt="fiction">
      </div>
    </div>
  </div>
  <div class="row" routerLink="/books" [queryParams]="{topic:'adventure'}">
    <div class="col-12">
      <div class="btn-label row">
        <img class="btn-icon" src="assets/icon/Adventure.svg" alt="fiction">
        <label>ADVENTURE</label>
        <img class="btn-next" src="assets/icon/Next.svg" alt="fiction">
      </div>
    </div>
  </div>
</div>
